@import "../../App.scss";
.footer {
  background: $red-color;
  p {
    padding: 20px 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
