@import "../App.scss";

.list {
  list-style-type: none;
  li {
    color: $red-color;
    a {
      text-decoration: none;
      color: $red-color;
      transition: color 0.2s;
      &:hover {
        color: $blue-color;
      }
    }
  }
}
